body {
    background-image: url(assets/92e6d62b9cbb5d275463ad286218fbdf.jpg);
    background-size: cover;}

@media only screen and (max-width: 769px) 
    {
    body {
     background-color: rgb(228, 176, 202);
     background-image: none;
     background-repeat: no-repeat;
} }

.profilepic {
    display:block;
    filter: grayscale(30%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    max-width: 120px;
}

h2{
    color:rgb(45, 45, 45);   
    text-align: center;
    font-family: 'Poppins', sans-serif; 
    font-size: x-large;   
    font-weight: bold;
    }

h4{
    color:rgb(57, 57, 57);
    text-align: center;
    font-family:'Poppins', sans-serif;
    font-weight:500;
    font-size: medium; 
    padding-bottom: 10px;     
}


.button {
        text-align: center;
        text-transform: lowercase;
        background-color: rgb(21, 21, 21);
        border: 1px solid rgb(23, 23, 23);
        border-width: 1px;
        width: 50%;
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 40px;
        line-height:300%;
        color:white;
        font-family:'Poppins', sans-serif;
        font-weight:500;
        font-size: medium;
        transition-duration: 0.5s;
        cursor: pointer; 
    }

.button:hover {
    color: rgb(177, 137, 250);
    width: 51%;
}
       